img {
  width: 200px;
  height: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
  list-style: none;
}

.logout-btn {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.recipe-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-comment button {
  display: block;
}